@import './base.css';

body {
    min-height: 100vh;
    color: #212b36;
    background: #f7f7f7;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    min-height: 100vh;
}

.text {
    font-size: 18px;
}

.button {
    width: 150px;
    height: 40px;
    background-color: #212b36;
    color: #f7f7f7;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.button.button-large {
    width: 220px;
}

.button:hover {
    background-color: #000;
}

.button:disabled {
    cursor: default;
    background-color: #8197AA;
}

input {
    display: block;
    height: 40px;
    padding: 5px 10px;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    border: 2px solid #8197AA;
    border-radius: 4px;
    outline: none;
}

input:focus {
    border: 2px solid #212b36;
}